In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A ': [21, np.nan, 22, 4, np.nan],
    'B': [31,32,33, 34, 35],
    'C': [np.nan, np.nan, np.nan, np.nan, np.nan],
    'D': [46, 47, np.nan, 48, 49]
})
df

     A    B   C     D
0  21.0  31 NaN  46.0
1   NaN  32 NaN  47.0
2  22.0  33 NaN   NaN
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

In [22]:
import pandas as pd
import numpy as np

data = {
    'A': [21, np.nan, 22, 4, np.nan],
    'B': [31, 32, 33, 34, 35],
    'C': [np.nan, np.nan, np.nan, np.nan, np.nan],
    'D': [46, 47, np.nan, 48, 49]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Finding total NaN values in the DataFrame
print("\nTotal NaN values in the DataFrame:", df.isna().sum().sum())

# Forward Fill
df_ffill = df.fillna(method='ffill')
print("\nDataFrame after Forward Fill:\n", df_ffill)

# Backward Fill
df_bfill = df.fillna(method='bfill')
print("\nDataFrame after Backward Fill:\n", df_bfill)

# Zero Fill
df_zero_fill = df.fillna(0).astype(int)
print("\nDataFrame after Zero Fill:\n", df_zero_fill)

Original DataFrame:
       A   B   C     D
0  21.0  31 NaN  46.0
1   NaN  32 NaN  47.0
2  22.0  33 NaN   NaN
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

Total NaN values in the DataFrame: 8

DataFrame after Forward Fill:
       A   B   C     D
0  21.0  31 NaN  46.0
1  21.0  32 NaN  47.0
2  22.0  33 NaN  47.0
3   4.0  34 NaN  48.0
4   4.0  35 NaN  49.0

DataFrame after Backward Fill:
       A   B   C     D
0  21.0  31 NaN  46.0
1  22.0  32 NaN  47.0
2  22.0  33 NaN  48.0
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

DataFrame after Zero Fill:
     A   B  C   D
0  21  31  0  46
1   0  32  0  47
2  22  33  0   0
3   4  34  0  48
4   0  35  0  49

C:\Users\G M RIFAT REZA\AppData\Local\Temp\ipykernel_11964\1085428892.py:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')
C:\Users\G M RIFAT REZA\AppData\Local\Temp\ipykernel_11964\1085428892.py:22: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')